graft external/anyode/include
graft external/anyode/cython_def
include external/anyode/LICENSE
include chemreac/_chemreac.pyx
include chemreac/_chemreac.cpp
recursive-include docs *
prune docs/_build
prune docs/_build.log
prune docs/_generated
prune docs/examples/examples
recursive-include docs/examples/examples *.py *.json
recursive-include examples *.py *.json
recursive-include src *.h *.pxd *.hpp
recursive-include chemreac/include *.h *.pxd *.hpp

recursive-include scripts *

include chemreac/tests/*.json
include chemreac/tests/*.txt

include AUTHORS
include CHANGES.rst
include LICENSE
include README.rst
include conftest.py
