recursive-include docs *
prune docs/_build
prune docs/_build.log
prune docs/_generated
prune docs/examples/examples
recursive-include docs/examples/examples *.py *.json
recursive-include examples *.py *.json
recursive-include src *.h *.pxd *.hpp

recursive-include scripts *

include chemreac/tests/*.json
include chemreac/tests/*.txt

include CHANGES.rst
include LICENSE.txt
include README.rst
include requirements.txt
include conftest.py
