argh>=0.25.0
numpy>=1.9.0
cython>=0.21.0
mako>=1.0.0
quantities>=0.10.1
pytest>=2.5.2
pytest-pep8>=1.0.6
scipy>=0.14.0
matplotlib>=1.4.0
periodictable>=1.4.1
future>=0.13.0
mpld3>=0.2
pycompilation>=0.3.6
pycodeexport>=0.0.5
https://github.com/sympy/sympy/archive/master.zip
