argh>=0.26.1
numpy>=1.9.2
Cython>=0.23.2
mako>=1.0.0
quantities>=0.10.1
pytest>=2.8.0
pytest-pep8>=1.0.6
scipy>=0.16.0
matplotlib>=1.4.3
periodictable>=1.4.1
future>=0.15.2
mpld3>=0.2
sympy>=0.7.6.1
pycodeexport>=0.1.1
pycompilation>=0.4.2
pyodeint>=0.4.1
pygslodeiv2>=0.3.0
